/**
 * @author Ryazanov I.A
 * ESLint config
 */
{
  "parser": "babel-eslint",
  "env": {
    "jest": true
  },
  "globals": {
    "document": true,
    "window": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "linebreak-style": 0,
    "react/prop-types": [1, { "skipUndeclared": true }]
  },
  "plugins": [
    "babel",
    "mocha",
    "react",
    "jest"
  ],
  "settings": {
    "import/resolver": "webpack"
  },
  "extends": "airbnb"
}